/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-sep-2016, 19:39:27
    Author     : Daw2
*/
#cabecera {
    background: #5bc0de;
}
#fondo{
    background-color: #010000;
}
#formulario{
    background-color: #E1E1E1;
}